{% extends 'expense_list/main.html' %}
{% block content %}

<div class = "header-bar">
        <h1>Hi {{request.user|title}}!</h1>
    <div class = "menu">
        <h3><a href = "{% url 'expensecreate' %}"><i class="fa-solid fa-circle-chevron-right"></i> Add expense</a></h3>
        <h3><i class="fa-solid fa-circle-chevron-right"></i> Generate summary</a></h3>

        <form action="{% url 'expensesummary' %}">
          <select name="q">
            <option disabled selected>Select month</option>
            <option value=1>January</option>
            <option value=2>February</option>
             <option value=3>March</option>
            <option value=4>April</option>
            <option value=5>May</option>
            <option value=6>June</option>
             <option value=7>July</option>
            <option value=8>August</option>
             <option value=9>September</option>
            <option value=10>October</option>
             <option value=11>November</option>
            <option value=12>December</option>

          </select>

                    <div>
                        <button type="submit">Generate</button>
                    </div>

      </form>

    </div>
    {% if request.user.is_authenticated %}
    <a href = "{% url 'logout' %}">Logout</a>
    {% else %}
    <a href = "{% url 'login' %}">Login</a>
    {% endif %}
</div>

<h1 class = "header">Expenses list <i class="fa-solid fa-sack-dollar"></i></h1>

<div>
    <form method="GET">
        {{ExpenseFilter.form}}
        <button type="submit">Search</button>
    </form>
</div>

<table>
    <tr>
        <th>Expense</th>
        <th>Amount</th>
        <th>Buyer</th>
        <th></th>

    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{expense.title}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.user.username}}</td>
        <td><a href = "{% url 'expensedetail' expense.id %}">Details</a>
        <br><a href = "{% url 'expenseupdate' expense.id %}">Update</a>
        <br><a href = "{% url 'expensedelete' expense.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items here!</h3>
    {% endfor %}
</table>

{% endblock content %}