{% extends 'expense_list/main.html' %}

{% block content %}

<div class = "header-bar">
        <h1>Hi {{request.user|title}}!</h1>
    <div class = "menu">
        <h3><a href = "{% url 'expensecreate' %}"><i class="fa-solid fa-circle-chevron-right"></i> Add expense</a></h3>
        <h3><a href = "{% url 'expensesummary' %}"><i class="fa-solid fa-circle-chevron-right"></i> Generate summary</a></h3>
    </div>
    {% if request.user.is_authenticated %}
    <a href = "{% url 'logout' %}">Logout</a>
    {% else %}
    <a href = "{% url 'login' %}">Login</a>
    {% endif %}
</div>

<h1 class = "header">Expenses list <i class="fa-solid fa-sack-dollar"></i></h1>



<table>
    <tr>
        <th>Expense</th>
        <th>Amount</th>
        <th>Buyer</th>
        <th></th>

    </tr>
    {% for expense in expenses %}
    <tr>
        <td>{{expense.title}}</td>
        <td>{{expense.amount}}</td>
        <td>{{expense.user.username}}</td>
        <td><a href = "{% url 'expensedetail' expense.id %}">Details</a>
        <br><a href = "{% url 'expenseupdate' expense.id %}">Update</a>
        <br><a href = "{% url 'expensedelete' expense.id %}">Delete</a></td>
    </tr>
    {% empty %}
        <h3>No items here!</h3>
    {% endfor %}
</table>

{% endblock content %}