{% extends 'expense_list/main.html' %}

{% block content %}

<div class="summary-wrapper">
<h2 class = "summary-header">Total spendings</h2>
</div>

<table>
    <tr>

    {% for element in results %}
    <td>{{ element }}</td>
        {% endfor %}
    </tr>
    <tr>
    {% for total in totals %}
    <td>{{ total|floatformat:2 }}</td>
        {% endfor %}
    </tr>
</table>

<h2 class ="summary-header">Summary <i class="fa-solid fa-comments-dollar"></i></h2>

<div class = "splitted-wrapper">
    {% for element in splitted %}
    <div class = "splitted-box">{{ element }}</div>
    {% endfor %}
</div>


{% endblock content %}

